<div class="form-row">
    <div class="form-item">
        <label>Name</label>
        <input type="text" name="name" value="<%= item.name %>">
    </div>

    <div class="form-item">
        <label>Date Added</label>
        <input type="date" name="dateAdded"
            value="<%= item.dateAdded == null ? '' : item.dateAdded.toISOString().split('T')[0] %>">
    </div>
</div>

<div class="form-row">
    <div class="form-item">
        <label>Count</label>
        <input type="text" name="count" min="1" value="<%= item.count %>">
    </div>

    <div class="form-item">
        <label>Tag</label>
        <input type="text" name="tag" value="<%= item.tag %>">
    </div>
</div>

<div class="form-row">
    <div class="form-item form-item-no-grow">
        <label>Cover</label>
        <input type="file" name="cover" class="item-cover filepond">
    </div>

    <div class="form-item">
        <label>Description</label>
        <textarea name="description"><%= item.description %></textarea>
    </div>
</div>
