<h2 class="page-header"><%= item.name %></h2>
<div>
    <img width="100" height="150" src="<%= item.coverImagePath %>">
    <div>Date Added: <%= item.dateAdded.toDateString()%></div>
    <div>Count: <%= item.count%></div>
    <div>Description: <%= item.description%></div>
</div>
<br />
<div class="form-row btn-row">
    <a class="btn btn-primary" href="/items/<%= item.id %>/edit">Edit</a>
    <%- include("../partials/deleteForm", { url: `/items/${item.id}`})%>
</div>